html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: #012233;
  width: 100%;
  /*footer height plus padding*/ }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a.dotted {
    /*for links*/
    border-bottom: 2px dotted #cccccc; }
    a.dotted:hover {
      color: #99c; }

h1 {
  font-size: 4em;
  line-height: 1.3em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h1 {
      font-size: 4.7em; } }
  @media (max-width: 1440px) {
    h1 {
      font-size: 5em; } }
  @media (max-width: 1285px) {
    h1 {
      font-size: 4em; } }

h2 {
  font-size: 2em;
  line-height: 1.7em;
  font-weight: bold; }
  @media (max-width: 2570px) {
    h2 {
      font-size: 2.7em; } }
  @media (max-width: 1440px) {
    h2 {
      font-size: 3em; } }
  @media (max-width: 1285px) {
    h2 {
      font-size: 2em;
      line-height: 1.7em;
      font-weight: bold; } }

h3 {
  font-size: 1.6em;
  line-height: 1.7em;
  font-weight: bold; }

p {
  font-size: 1.6em;
  line-height: 1.9em;
  padding-bottom: 1em; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000;
  right: 15px; }

.fa-twitter,
.fa-facebook {
  padding: 5px;
  color: #012233;
  background: white;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: white;
    background-color: #012233; }

.header-container h1.header-title {
  position: absolute;
  text-align: left;
  right: 0;
  top: 10px;
  color: #012233;
  max-width: 40%;
  line-height: 1.6;
  font-size: 2.9vw;
  margin-top: 35px;
  letter-spacing: 0.03em; }
.header-container h2 {
  font-size: 2.0em;
  margin-left: 10%; }
.header-container p.subtitle {
  width: auto;
  line-height: 1.7;
  margin-left: 0;
  font-size: 2.7em;
  font-weight: 300; }
.header-container .credits {
  line-height: 1.5em;
  font-weight: 300; }
  .header-container .credits h6 {
    font-size: 1.2em;
    line-height: 1.7; }
    .header-container .credits h6 b {
      color: #012233; }
  .header-container .credits span {
    font-weight: 700; }
  .header-container .credits.date {
    margin-top: 1em;
    font-size: 1.0em;
    font-weight: 300; }
.header-container .header {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: white; }
.header-container .header-text {
  position: relative; }
.header-container video {
  margin-top: 20px;
  height: 25vw;
  padding: 0;
  min-width: 250px;
  object-fit: cover; }

/* ======== Footer ======== */
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block;
  margin-top: 50px; }
  #footer h4 {
    color: white; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 1024px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 1024px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 1024px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 767px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

#chart-interface-container {
  width: 100%;
  height: 90vh;
  position: relative;
  /* to make scrollbars always visible */ }
  #chart-interface-container .list-container {
    position: relative;
    height: 100%;
    width: 200px;
    display: inline-block; }
    #chart-interface-container .list-container img {
      width: 20px;
      height: 20px;
      margin-right: 10px; }
    #chart-interface-container .list-container .list-item {
      cursor: pointer;
      margin-bottom: 10px; }
    #chart-interface-container .list-container .list-item:hover span {
      font-weight: 800; }
    #chart-interface-container .list-container .list-item.active span {
      font-weight: 800; }
  #chart-interface-container .always-visible.ps > .ps__scrollbar-y-rail {
    opacity: 0.6; }
  #chart-interface-container .chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 200px;
    height: 100%; }
    #chart-interface-container .chart-container img {
      max-height: 100%;
      max-width: 100%; }

.whirlpool {
  width: 100px;
  height: 100px;
  margin: auto auto;
  margin-top: 25vh;
  position: relative; }
  .whirlpool .ring:before {
    content: '';
    border-radius: 50%;
    border: 1px solid #32CCFE;
    height: 30px;
    width: 100px;
    position: absolute; }
  .whirlpool .ring1:before {
    left: 40px;
    width: 20px;
    top: 12px;
    height: 6px;
    animation: 2.5s ease 0s infinite spinner; }
  .whirlpool .ring2:before {
    left: 35px;
    width: 30px;
    top: 10.5px;
    height: 9px;
    animation: 2.5s ease 0.1s infinite spinner; }
  .whirlpool .ring3:before {
    left: 30px;
    width: 40px;
    top: 9px;
    height: 12px;
    animation: 2.5s ease 0.2s infinite spinner; }
  .whirlpool .ring4:before {
    left: 25px;
    width: 50px;
    top: 7.5px;
    height: 15px;
    animation: 2.5s ease 0.3s infinite spinner; }
  .whirlpool .ring5:before {
    left: 20px;
    width: 60px;
    top: 6px;
    height: 18px;
    animation: 2.5s ease 0.4s infinite spinner; }
@keyframes spinner {
  0% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  50% {
    transform: translateY(60px);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  100% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); } }
body {
  height: 100vh;
  margin-top: 0;
  color: #012233; }

p {
  font-size: 2em;
  line-height: 2; }

.quote {
  margin-top: 0em;
  margin-bottom: 1em;
  font-size: 2.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #211a23;
  line-height: 2em; }
  .quote::before {
    font-family: Arial, sans-serif;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em; }
    @media (max-width: 767px) {
      .quote::before {
        font-size: 7em; } }

.term {
  border-bottom: 2px dotted #cccccc;
  cursor: help; }
  .term:hover {
    color: #ccc; }

.sources {
  color: #BBC0BF;
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 1.1em; }

.directSpeach {
  font-style: italic; }

.new-section {
  margin-top: 5%; }

@media only screen and (min-width: 800px) {
  .mobile {
    display: none !important;
    padding-top: 0; }

  .desktop {
    display: block !important; } }
@media only screen and (max-width: 799px) {
  .mobile {
    display: block !important; }

  .desktop {
    display: none !important; } }
.read-more {
  margin-bottom: 15px; }

.mobile p.caption {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 0; }

.small {
  font-size: 1.2em; }

.hsmall {
  font-size: 1.4em; }

h2 span {
  background-color: #f0f0f0; }

.toarticle {
  font-weight: bolder;
  font-size: 1.7em;
  padding-top: 30px; }

.toarticle span {
  background-color: #f0f0f0; }

.tab {
  margin-bottom: 60px; }

.main-text h3 {
  font-size: 2.8em;
  color: #012233;
  margin-bottom: 28px; }
.main-text i {
  font-style: normal;
  color: brown; }

.disclaimer {
  font-size: 1.3em; }

.disclaimer.main-text {
  margin-top: 0; }

.disclaimer h4 {
  border-top: 3px solid #383e47;
  font-weight: 600;
  padding-top: 0.5em;
  display: inline-block; }

.disclaimer p, .disclaimer li, .disclaimer h5 {
  font-size: 12px;
  line-height: 1.5; }

.disclaimer h5 {
  font-weight: 800; }

.disclaimer .pointer {
  cursor: pointer;
  border-bottom: 1px dashed;
  display: inline-block; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.figure {
  margin-bottom: 5em; }
  .figure img {
    max-width: 100%;
    max-height: 100vh; }
  .figure .figcaption {
    text-align: center;
    font-size: 1em; }

.social-icons {
  right: 55px; }

.mobile .header {
  box-shadow: 0 0 70px 70px rgba(50, 50, 50, 0.8); }

/*# sourceMappingURL=application.css.map */
