// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/chart";

body {
    height: 100vh;
    margin-top: 0;
    color: $main-text;
}


p {
  font-size: 2em;
  line-height: 2;
}

.quote {
  margin-top: 0em;
  margin-bottom: 1em;
  font-size: 2.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #211a23;
  &::before {
    font-family: Arial, sans-serif;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }

  line-height: 2em;
}

.sources {
  color: #BBC0BF;
  margin-top:0.5em;
  margin-bottom:2em;
  font-size: 1.1em;
}

.directSpeach {
  font-style: italic;
}


.new-section {
  margin-top: 5%;
}


@media only screen and (min-width:800px) {
  .mobile {
    display:none !important;
    padding-top: 0;
  }

  .desktop {
    display:block !important;
  }
}

//small screen sizes
@media only screen and (max-width: 799px) {
  .mobile {
    display:block !important;
  }

  .desktop {
    display:none !important;
  }

}

.read-more {
  margin-bottom: 15px;
}

.mobile {
  p.caption {
    font-size: 2em;
    text-align: center;
    //font-style: italic;
    //text-transform: uppercase;
    margin-top: 50px;

    padding-bottom: 0;
  }
}

.small {
  font-size: 1.2em;
}

.hsmall {
  font-size: 1.4em;
}

h2 span {
  background-color: #f0f0f0;
}


.toarticle {
  font-weight: bolder ;
  font-size: 1.7em;
  padding-top: 30px;
}

.toarticle span {
  background-color: #f0f0f0;
}

.tab {
  margin-bottom: 60px;
}

.main-text {
  h3 {
    font-size: 2.8em;
    color: $main-text;
    margin-bottom: 28px;
  }

  i {
    font-style: normal;
    color: brown;
  }
}

.disclaimer {

  &.main-text {
    margin-top: 0;
  }

  h4 {
    border-top: 3px solid #383e47;
    font-weight: 600;
    padding-top: 0.5em;
    display: inline-block;
  }

  h5 {
    font-weight: 800;
  }

  p, li, h5 {
    font-size: 2em;
    line-height: 1.5;
  }

  .pointer {
    cursor: pointer;
    border-bottom: 1px dashed;
    display: inline-block;
  }
}

.common-pub {
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  //background-color: rgba(216, 234, 244, 1);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.figure {
  margin-bottom: 5em;

  img {
    max-width: 100%;
    max-height: 100vh;
  }

  .figcaption {
    text-align: center;
    font-size: 2em;
    color: rgba(1, 34, 51, 0.56);
    font-style: italic;
    max-width: 670px;
    margin: 0 auto;
    ;line-height: 1.7;
  }

  &.clickable {
    img {
      cursor: pointer;
    }
  }
}



.mobile .header {
  box-shadow: 0 0 70px 70px rgba(50,50,50,0.8)
}

.iv-close {
  background: black;
}

//.disclaimer {
//  color: #eee;
//  font-size: 1.3em;
//  margin-left: 15px;
//  margin-top: 68px;
//
//  background: rgba(0,0,0,0.53);
//  //margin-right: -30px;
//  padding-left: 30px;
//  padding-right: 25px;
//
//  width: 202px;
//}


.term {
  cursor: pointer;

  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #F0FFF0;
}

.tippy-tooltip {
  border-radius: 8px;
  //border: 1px solid black;
  border: 1px solid #ccc;
  font-size: 14px;
  color: $main-text;

  padding: .3rem .6rem;

  line-height: 1.7;
  text-align: left;
}

.tippy-tooltip .tippy-content {
  /* Your styling here. Example: */
}

.tippy-backdrop {
  background-color: #F0FFF0;
}

.tippy-popper {
  //border: 1px solid #ccc;
}

.pink-dots {
  color: #E60DBC;
}

.chart-annotation {
  color: rgba(1, 34, 51, 0.56);
  line-height: 1.5;

  span.username {
    color: #0CB3FF;
    text-decoration: underline;
  }
}