// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/carousel";
@import "components/chart";
@import "components/whirlpool";

body {
    height: 100vh;
    margin-top: 0;
    color: $main-text;
}


p {
  font-size: 2em;
  line-height: 2;
}

.quote {
  margin-top: 0em;
  margin-bottom: 1em;
  font-size: 2.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #211a23;
  &::before {
    font-family: Arial, sans-serif;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }

  line-height: 2em;
}

.term {
  border-bottom: 2px dotted #cccccc;
  cursor: help;

  &:hover {
    color: #ccc;
  }
}

.sources {
  color: #BBC0BF;
  margin-top:0.5em;
  margin-bottom:2em;
  font-size: 1.1em;
}

.directSpeach {
  font-style: italic;
}


.new-section {
  margin-top: 5%;
}


@media only screen and (min-width:800px) {
  .mobile {
    display:none !important;
    padding-top: 0;
  }

  .desktop {
    display:block !important;
  }
}

//small screen sizes
@media only screen and (max-width: 799px) {
  .mobile {
    display:block !important;
  }

  .desktop {
    display:none !important;
  }

}

.read-more {
  margin-bottom: 15px;
}

.mobile {
  p.caption {
    font-size: 2em;
    text-align: center;
    //font-style: italic;
    //text-transform: uppercase;
    margin-top: 50px;

    padding-bottom: 0;
  }
}

.small {
  font-size: 1.2em;
}

.hsmall {
  font-size: 1.4em;
}

h2 span {
  background-color: #f0f0f0;
}


.toarticle {
  font-weight: bolder ;
  font-size: 1.7em;
  padding-top: 30px;
}

.toarticle span {
  background-color: #f0f0f0;
}

.tab {
  margin-bottom: 60px;
}

.main-text {
  h3 {
    font-size: 2.8em;
    color: $main-text;
    margin-bottom: 28px;
  }

  i {
    font-style: normal;
    color: brown;
  }
}

.disclaimer {
  font-size: 1.3em;
}

.disclaimer.main-text {
  margin-top: 0;
}

.disclaimer h4 {
  border-top: 3px solid #383e47;
  font-weight: 600;
  padding-top: 0.5em;
  display: inline-block;
}

.disclaimer {
  p, li, h5{
    font-size: 12px;
    line-height: 1.5;
  }
}

.disclaimer h5 {
  font-weight: 800;
}

.disclaimer .pointer {
  cursor: pointer;
  border-bottom: 1px dashed;
  display: inline-block;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

//#calmingCarousel {
//  .item {
//    //background: #000;
//
//    img {
//      margin: 0 auto;
//      width: auto;
//      height: 400px;
//      max-height: 400px;
//    }
//
//    h3 {
//      display: inline;
//      font-size: 2em;
//      font-weight: bold;
//      margin: 0;
//      color: white;
//      background: rgba(0, 0, 0, 0.15);
//    }
//
//    p {
//      padding: 0;
//      margin: 0;
//      font-size: 1.4em;
//    }
//  }
//}



.figure {
  margin-bottom: 5em;


  img {
    max-width: 100%;
    max-height: 100vh;
  }

  .figcaption {
    text-align: center;
    font-size: 1em;
  }
}

.social-icons {
  right: 55px;
}

.mobile .header {
  box-shadow: 0 0 70px 70px rgba(50,50,50,0.8)
}

//.disclaimer {
//  color: #eee;
//  font-size: 1.3em;
//  margin-left: 15px;
//  margin-top: 68px;
//
//  background: rgba(0,0,0,0.53);
//  //margin-right: -30px;
//  padding-left: 30px;
//  padding-right: 25px;
//
//  width: 202px;
//}