$card_size: 100px;

#chart-interface-container {
  width: 100%;
  position: relative;
  margin-bottom: $card_size;

  .card {
    width: $card_size;
    height: $card_size;

    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    //
    //&:hover {
    //  border: 1px solid black;
    //}

    &.bordered {
      border: 1px solid black;
    }

    img {
      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }

  .fixed-tooltip {
    position: absolute;

    width: $card_size * 2;
    height: $card_size;
    background: white;
    padding: 10px;

    &.bordered {
      border: 1px dashed black;
    }

    &.bordered.tipleft {
      border-right: none;
    }

    &.bordered.tipright {
      border-left: none;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    p.first {
      margin-bottom: 10px;
    }

    span {
      font-size: 12px;
    }
  }

  &.touch {
    p {
      span.login {
        color: #0CB3FF;
        text-decoration: underline;
      }
    }
  }
}

input#chart-search-box[type=text] {
  width: 100%;
  //-webkit-transition: min-width 0.4s ease-in-out;
  //transition: min-width 0.4s ease-in-out;

  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 22px;
  padding: 12px 20px 12px 40px;

  &.not-found {
    background-color: #ffc1c1;
  }

  margin-top: 20px;
}

///* When the input field gets focus, change its width to 100% */
//input#chart-search-box[type=text]:focus {
//  min-width: 500px;
//}

