$card_size: 100px;

#chart-interface-container {
  width: 100%;
  position: relative;
  margin-bottom: $card_size;

  .card {
    position: relative;
    width: $card_size;
    height: $card_size;

    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    //
    //&:hover {
    //  border: 1px solid black;
    //}

    &.bordered {
      border: 1px solid black;
    }

    img {
      padding: 10px;
      width: 100%;
      height: 100%;
    }

    .caption {
      position: absolute;
      left: 11px;
      bottom: 12px;
      color: $main-text;
      opacity: 0.7
    }
  }

  &.show-captions {
    .card .caption {
      opacity: 1;
    }
  }

  .fixed-tooltip {
    position: absolute;

    width: $card_size * 2;
    height: $card_size;
    background: white;
    padding: 10px;

    z-index: 999;

    &.bordered {
      border: 1px dashed black;
    }

    &.bordered.tipleft {
      border-right: none;
    }

    &.bordered.tipright {
      border-left: none;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    p.first {
      margin-bottom: 10px;
    }

    span {
      font-size: 12px;
    }
  }

  &.touch {
    p {
      span.login {
        color: #0CB3FF;
        text-decoration: underline;
      }
    }
  }
}

input#chart-search-box[type=text] {
  width: 100%;

  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 22px;
  padding: 12px 20px 12px 40px;

  &.not-found {
    background-color: #ffc1c1;
  }

  margin-top: 20px;
}

#chart-switch {
  margin-top: 20px;
  font-size: 2em;
}

.nav-pills {
  > li.active {
    a, a:focus, a:hover {
      background-color: #32CCFE;
      color: $main_text;
    }
  }

  > li > a {
    border: 1px #ccc dotted;
  }

  a, a:focus, a:hover {
    //background-color: #32CCFE;
    color: $main_text;
  }


}



::after, ::before {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

