$card_size: 100px;

#chart-interface-container {
  width: 100%;
  position: relative;

  .card {
    width: $card_size;
    height: $card_size;

    overflow: hidden;
    display: inline-block;
    cursor: pointer;

    &:hover {
      border: 1px solid black;
    }

    img {
      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }

  .fixed-tooltip {
    position: absolute;

    width: $card_size * 2;
    height: $card_size;
    background: white;
    padding: 10px;

    &.bordered {
      border: 1px dashed black;
    }

    &.bordered.tipleft {
      border-right: none;
    }

    &.bordered.tipright {
      border-left: none;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    p.first {
      margin-bottom: 10px;
    }

    span {
      font-size: 12px;
    }
  }
}