/* ======== HEADER ======== */


.logo {
    position: fixed;
    float: left;
    z-index: 1000;
    margin: 0 0px 0px 15px;
}

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000;
  right: 15px;
}

.fa-twitter,
.fa-facebook {
  padding: 5px;
  color: $main-text;
  background: #32CCFE;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer;
  &:hover{
    color: #32CCFE;
    background-color: $main-text;
  }
}


.header-container {

  h1.header-title {
    position: absolute;
    text-align: left;
    right: 0;
    top: 10px;
    color: $main-text;
    max-width: 40%;
    line-height: 1.3;
    font-size: 2.9vw;
    margin-top: 35px;
    letter-spacing: 0.03em;
  }

  .mobile h1.header-title {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 6vw;

    margin-top: 40px;

    padding-top: 5vw;
    padding-left: 10px;
  }

  h2 {
    font-size: 2.0em;
    margin-left: 10%;
  }

  p.subtitle {

    width: auto;
    line-height: 1.7;
    margin-left: 0;

    font-size: 2.7em;
    font-weight: 300;
  }


  .credits {

    h6 {
      font-size: 1.2em;
      line-height: 1.7;

      b {
        color: $main-text;
      }
    }

    line-height: 1.5em;
    font-weight: 300;

    & span {
      font-weight: 700;
    }
    &.date {
      margin-top:1em;
      font-size:1.0em;
      font-weight:300;
    }
  }

  .header {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    background: white
  }

  .header-text {
    position: relative;
  }

  video {
    margin-top: 20px;
    height: 25vw;
    padding: 0;
    min-width: 250px;
    object-fit: cover;
  }
}
