html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $main-serif;
    font-size: 100%;
    color: $main-text;
    width: 100%;
    /*footer height plus padding*/
    //margin-bottom: 200px;
}

a {
    color: inherit;
    text-decoration: none;
    &:link {
        text-decoration: none;
    }
    &.dotted {
      /*for links*/
      //color: #4b444d;
      border-bottom: 2px dotted #cccccc;
    &:hover {
        color: #99c;
        }
    }
}


h1 {
  @include text(4em, 1.3em, bold);
  @media #{$brk-xlarge} {
    font-size:4.7em;
  }
  @media #{$brk-large} {
    font-size:5em;
  }
  @media #{$brk-medium} {
    font-size:4em;
  }
}

h2 {
  @include text(2em, 1.7em, bold);
  @media #{$brk-xlarge} {
    font-size:2.7em;
  }
  @media #{$brk-large} {
    font-size:3em;
  }
  @media #{$brk-medium} {
    @include text(2em, 1.7em, bold);
  }
}

h3 {
  @include text(1.6em, 1.7em, bold);
}

p {
    @include text(1.6em,1.9em);
    padding-bottom: 1em;
}
