

//// colors

//$main-text: #383e47;
$main-text: #252626;
$white:#fff;
$orange: #FAA61A;

$c_yellow: #faa619;
$c_grey: #58595b;

/// fonts

$main-serif: Open Sans, sans-serif;
$footer-size: 0.7em;
$footer-size-media: 0.5em;


// Media query

$brk-xlarge: '(max-width: 2570px)';
$brk-large: '(max-width: 1440px)';
$brk-medium: '(max-width: 1285px)';
$brk-narrow: '(max-width: 1024px)';
$brk-spnarrow: '(max-width: 767px)';
$brk-iphone: '(max-width: 400px)';